.App {
  font-family: Montserrat;
  text-align: left;
}
textarea {
  width: 100%;
  height: auto;
}

h2,
h3 {
  padding: 1em 0em 0em 0em;
  margin: 0em;
}
p {
  padding: 0em;
  margin: 0em 0em 0.5em 0em;
}
td {
  padding: 0.25em 1em 1em 0.25em;
}
.flexContainer {
  display: flex;
  justify-content: flex-start;
}

.resultViewer {
  padding: 0em 1em;
  background-color: #e0e0e0;
  margin-right: 4em;
}
